*{
   margin: 0; padding: 0;
   font-family:  "Noto Sans KR";
}
a{
   text-decoration: none;
   
}
a:hover{
   text-decoration: none;
   color: white;
}
li{
   list-style : none;
}
body{
   width: 100%; margin: 0 auto;
   background: rgba(0, 0, 0, 0.1);
}
#page-wrapper{
   background:white;
   margin: 30px 0; padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0 2px 6px rgba(100,100,100,0.3);
}
#main-header{
   padding: 40px 50px;
}
#main-nav{
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   margin-bottom: 20px;
   height: 40px;
}
.outer-menu-item{
   float: left;
   position: relative;
}
.outer-menu-item:hover{
   background: black;
   color: white;
}
.menu-title{
   display: block;
   height: 30px; line-height: 30px;
   text-align: center;
   padding: 5px 20px;
}

.pull-left{
   float: left;
}
.git{
   background: rgba(100,100,100,0.1);
}
.yjp{
   background: rgba(100,100,100,0.1);
}
.article-header {
   width: 100%; height: 100%; overflow: hidden;
   margin: 0px auto; position: relative;
}
video{
   width: 100%;
}
.board_list_wrap {
   padding: 50px;
}

.board_list_head,
.board_list_body .item {
   padding: 10px 0;
   font-size: 0;
}

.board_list_head {
   border-top: 2px solid #007c96;
   border-bottom: 1px solid #ccc;
}

.board_list_body .item {
   border-bottom: 1px solid #ccc;
}

.board_list_head>div,
.board_list_body .item>div {
   display: inline-block;
   text-align: center;
   font-size: 14px;
}

.board_list_head>div {
   font-weight: 600;
}

.board_list .num {
   width: 10%;
}

.board_list .tit {
   width: 55%;
}

.board_list_body div.tit {
   text-align: left;
}

.board_list_body div.tit a:hover {
   text-decoration: underline;
}

.board_list .writer {
   width: 10%;
}

.board_list .date {
   width: 15%;
}

.board_list .view {
   width: 10%;
}

/* paging */
.paging {
   margin-top: 30px;
   text-align: center;
}

.paging a {
   display: inline-block;
   vertical-align: middle;
}

.paging a.bt {
   width: 30px;
   height: 30px;
   background-color: #ccc;
   background-image: url(../img/page_bt.png);
   background-repeat: no-repeat;
   border-radius: 100px;
   text-indent: -1000px;
   overflow: hidden;
}

.paging a.bt:hover {
   background-color: #999;
}

.paging a.first {
   background-position: 10px -40px;
}

.paging a.prev {
   margin-right: 5px;
   background-position: 10px 10px;
}

.paging a.next {
   margin-left: 5px;
   background-position: -40px 10px;
}

.paging a.last {
   background-position: -40px -40px;
}

.paging a.num {
   margin: 0 5px;
}

.paging a.num.on {
   color: orangered;
}

.paging a.num:hover {
   text-decoration: underline;
}