<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./joinstyle.css">
</head>
<body>

<div class="wrep">
  
    <form action='/join' method='post'>
      <div class="intro1">
        <div>
          <h4>Register</h4>
          <p>2WDA의 일원이 되어주세요!</p>
        </div>
      </div>

      <div class="info1">
        <div class="name">
          
          <label for="username">Username<br>
          <input id="username" name="username" type="text"/>
        </label>
        </div>
      </div>

      <div class="info2">
        <div class="email">
          
          <label for="useremail">Email<br>
          <input id="email" name="email" type="text"/>
          <input type="button" onclick= "onLoggin()" value="중복확인">
        </label>
        </div>
      </div>

      <div class="info3">
        <div class="passwd">
       
          <label for="password">Password<br>
          <input id="password" name="password" type="password" />
        </label>
        </div>
      </div>

      <div class="info4">
        <div class="agpasswd">
       
          <label for="password_a">Password again
          <input id="password_a" name="apassword" type="password" />
        </label>
        </div><br>
      </div>

      <div class="info6">
        <div class="introduce">
       
          <label for="introduce">Introduce your self
          <textarea name="introduce" rows="5" cols="25" placeholder="자기소개를 입력해주세요"></textarea>
        </label>
        </div>
      </div>

      <div class="info5">

        <div class="submit">
          <button type="submit">회원가입</button>
        </div>

        <div class="sfon">
          <p>이미 회원이신가요?<a href="http://127.0.0.1:5500/login.ejs">Login</a></p>
          
        </div>
        
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        function onLoggin(){
            
            const email = document.getElementById("email");
            const password = document.getElementById('password')
            axios({
                method:"POST",
                url: 'http://localhost:3000/join/check',
                data:{
                    "email": email.value,
                    "password": password.value
                }
            }).then((res)=>{
              console.log(res);
                if(res.data == "ok"){
                  alert("사용가능한 email입니다");
                }
                 else {
                   alert("이미 존재하는 이메일 입니다"); 
                 }
            }).catch(error=>{
                console.log(error);
                throw new Error(error);
            });
        }
 
        
        
 
      </script>


    </form>

</div>
           
</body>
</html>